:root {
    --header: lightgreen;
    --body: ivory;
    --border: black;
    --overlay-BG: rgba(0,0,0,0.5);
    --overlay: green;
    --border: black;
}

* {
    margin: 0px;
    padding: 0px;
}

/* ELEMENT */
html {
    position: relative;
    min-height: 100%;
}

input {
    margin: 4px;
}


/* HEADER */
.header-container, .inputPanel {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* SEC1 */
.inputPanel {
    margin: 10px 0;
}

.input-title {
    margin: 0;
    padding: 0;
    font-size: 18px;
}
.addBookForm {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    border: 1px solid black;
    padding: 5px 10px;
    width: 400px;
}

/* SEC2 */
.displayBookPanel {
    display: flex;
    justify-content: center;
    align-items: center;
}

.bookcardPanel {
    display: grid;
    grid-template-columns: repeat(4, 200px);
    grid-template-rows: repeat(5, 200px);
}

.bookcard {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    border-radius: 10px;
    padding: 10px;
}

.isRead-true {
    background-color: lightgreen;
}
.isRead-false {
    background-color: red;
}


/* FOOTER */
.footer {
    position: absolute;
    bottom: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}
